<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${category.id} == 0 ? 'Add new Category' : 'Edit Category ID' + ${category.id}">Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/styles.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<main class="container">
    <h1 th:text="${category.id} == 0 ? 'Add new category' : 'Edit category ID' + ${category.id}">Add new category</h1>
    <form method="post" th:if="${category.id} != 0" th:action="@{/admin/categories/{id}(id=${category.id})}">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name" th:value="${category.name}"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" type="text" name="description" id="description" th:value="${category.description}"/>
        </div>
        <div class="form-group">
            <label for="picture">Picture</label>
            <input class="form-control" type="text" name="picture" id="picture" th:value="${category.picture}"/>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Save"/>
        </div>
    </form>
    <form method="post" th:if="${category.id} == 0" th:action="@{/admin/categories}">
        <div class="form-group">
            <label for="name">Category Name</label>
            <input class="form-control" type="text" name="name" id="firstName" th:value="${category.name}"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" type="text" name="description" id="email" th:value="${category.description}"/>
        </div>
        <div class="form-group">
            <label for="picture">Picture</label>
            <input class="form-control" type="text" name="picture" id="birthDate" th:value="${category.picture}"/>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Save"/>
        </div>
    </form>
    <a class="btn btn-primary" href="/admin/categories">Back</a>
</main>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>