<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" media="screen"
          th:href="@{/resources/css/styles.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<main class="container">
    <h1>Users</h1>
    <p>
        <a class="btn btn-primary" th:href="@{/admin/users/add}">Add new user</a>
    </p>
    <table class="table">
        <thead class="thead">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Actions</th>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td><a th:href="@{/admin/users/{id}(id=${user.id})}"><span th:text="${user.id}"></span></a></td>
            <td th:text="${user.firstName}"/>
            <td th:text="${user.email}"/>
            <td th:text="${user.birthDate}"/>
            <td>
                <p>
                    <a class="btn btn-info" th:href="@{/admin/users/{id}(id=${user.id})}">Edit</a>
                <form method="post" th:action="@{/admin/users/{id}/delete(id=${user.id})}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:each="i : ${#numbers.sequence( 1, lastPage/1)}">
                <p>
                    <a class="page-link" th:text="${i}" th:href="@{/admin/users(page=${i},limit=${param.limit})}"></a>
                </p>
            </li>
        </ul>
    </nav>
</main>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>