<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${user.id} == 0 ? 'Add new User' : 'Edit User ID' + ${user.id}">Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/styles.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<main class="container">
    <h1 th:text="${user.id} == 0 ? 'Add new User' : 'Edit User ID' + ${user.id}">Add new User</h1>
    <form method="post" th:if="${user.id} != 0" th:action="@{/admin/users/{id}(id=${user.id})}">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input class="form-control" type="text" name="firstName" id="firstName" th:value="${user.firstName}"/>
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input class="form-control" type="text" name="lastName" id="lastName" th:value="${user.lastName}"/>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input class="form-control" type="text" name="phoneNumber" id="phoneNumber" th:value="${user.phoneNumber}"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" id="email" th:value="${user.email}"/>
        </div>
        <div class="form-group">
            <label for="birthDate">Birth date</label>
            <input class="form-control" type="text" name="birthDate" id="birthDate" th:value="${#calendars.format(user.birthDate,'dd/MM/yyyy')}"/>
        </div>
        <div class="form-group">
            <input type="checkbox" class="form-check-input" name="isEnabled" id="isEnabled" th:checked="${user.isEnabled}">
            <label class="form-check-label" for="isEnabled">Enabled</label>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Save"/>
        </div>
    </form>
    <form method="post" th:if="${user.id} == 0" th:action="@{/admin/users}">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input class="form-control" type="text" name="firstName" id="firstName" th:value="${user.firstName}"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" id="email" th:value="${user.email}"/>
        </div>
        <div class="form-group">
            <label for="birthDate">Birth date</label>
            <input class="form-control" type="text" name="birthDate" id="birthDate" th:value="${user.birthDate}"/>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Save"/>
        </div>
    </form>
    <a class="btn btn-primary" th:href="@{/admin/users/}">Back</a>
</main>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>