<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/styles.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<main role="main" class="container">
    <div>
        <h1>This is admin page!</h1>
        <div th:text="${#authentication.name}">
            The value of the "name" property of the authentication object should appear here.
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            This content is only shown to administrators.
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>